<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wind.k.repository.mybatis.TeamMyBatisDao">

	<resultMap type="Team" id="teamResult">
		<id property="id" column="t_id"/>
		<result property="name" column="t_name"/>
		<collection property="userList" resultMap="org.wind.k.repository.mybatis.UserMyBatisDao.userResult"/>
	</resultMap>
	
</mapper>